<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<form action="successfully-updated" method="get">
    <input type="number" name="id" placeholder="Enter the id" th:value="${user.getId()}" readonly/><br><br>
    <input type="text" name="username" placeholder="Enter the username" th:value="${user.getUsername()}"/><br><br>
    <input type="text" name="password" placeholder="Enter the password" th:value="${user.getPassword()}"/><br><br>
    <input type="text" name="firstName" placeholder="Enter the first name" th:value="${user.getFirstName()}"/><br><br>
    <input type="text" name="lastName" placeholder="Enter the last name" th:value="${user.getLastName()}"/><br><br>
    <input type="number" name="age" placeholder="Enter the age" th:value="${user.getAge()}"/><br><br>
    <input type="text" name="email" placeholder="Enter the email" th:value="${user.getEmail()}"/><br><br>
    <input type="checkbox" name="roles" value="ROLE_USER">USER<br>
    <input type="checkbox" name="roles" value="ROLE_ADMIN">ADMIN<br><br>
    <input type="submit" value="Update"/>
</form>
<br>
<br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>